/* Les couleurs de la charte sont le bleu (#0065FC), une version plus
claire de ce bleu (#DEEBFF) et le gris pour le fond (#F2F2F2). */

/*Concernant les breakpoints, nous avons convenu avec le designer UI
d’utiliser 992 px et 768 px.
992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
tout ce qui est en dessous de 768 pour les téléphones portables.*/

* {
  box-sizing: content-box;
  font-family: "Raleway", sans-serif;
  
}

nav {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  font-weight: bold;
}

.search-bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px 0px 0px 15px;
}

.search-bar-text {
  padding: 20px;
  color: black;
  font-weight: 1500;
  border-style: solid;
  border-color: rgb(236, 236, 236);
  border-width: 1px;
}

.search-bar-text::placeholder {
  color: black;
  font-weight: bolder;
  border-color: #0065fc;
}

.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
  padding: 20px;
}

.filters-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.icon-filters {
  display: flex;
  color: #0065fc;
  width: 20px;
  height: 20px;
  align-items:  center; 
  justify-content: center;
  padding: 15px;
  border-radius: 100%;
  background-color: #deebff;
}

.filters-description{
  display: flex;
  justify-content: flex-start;
  border: solid 1px rgb(201, 201, 201);
  border-radius: 35px;
  margin: 10px;
}

.text-description{
  padding: 0px 10px 0px 10px;
}
